<section class="section about" id="about">
  <div class="container about-container">
    <p class="label-title">tradition and love</p>
    <h2 class="section-title about__section-title">how it’s made?</h2>
    <div class="wrapper">
      <picture class="about-picture">
        <!-- Для десктопа -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/about/webp/about-milk__lg.webp    1x,
            ../src/images/about/webp/about-milk__lg@2x.webp 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/about/about-milk__lg.png    1x,
            ../src/images/about/about-milk__lg@2x.png 2x
          "
          type="image/png"
        />
        <!-- Для таблет -->
        <source
          media="(min-width: 768px)"
          srcset="
            ../src/images/about/webp/about-milk__md.webp    1x,
            ../src/images/about/webp/about-milk__md@2x.webp 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../src/images/about/about-milk__md.png    1x,
            ../src/images/about/about-milk__md@2x.png 2x
          "
          type="image/png"
        />
        <!-- Для мобільної -->
        <source
          media="(max-width: 767px)"
          srcset="
            ../src/images/about/webp/about-milk__sm.webp    1x,
            ../src/images/about/webp/about-milk__sm@2x.webp 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../src/images/about/about-milk__sm.png    1x,
            ../src/images/about/about-milk__sm@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="about-img"
          src="../src/images/about/about-milk__sm.png"
          alt="сarafe of milk and cow"
          width="280"
          height="279"
          loading="lazy"
        />
      </picture>
      <div class="wrapper-right">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__description about__description--color">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.</p>
        <p class="about__description about__description--color">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        
        <button class="about-button" type="button" about-modal-open>
          Read more
          <svg class="about-button__icon" width="8" height="11">
            <use href="../src/images/sprite.svg#pointer"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
     <!-- Модальне вікно -->
  <div class="about-backdrop is-hidden" about-data-modal>
    <div class="about-modal-wrapper">
      <button
        class="about-btn-close"
        type="button"
        about-data-modal-close
        aria-label="Закрыть"
      >
        <svg class="about-btn-close__icon" width="20" height="20">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <h2 class="section-title section-title__md">Ice cream production</h2>
      <p class="label-title label-title__md">Main ingredient is love</p>
      <ul class="list">
        <li class="item about-item">
          <p class="description-img">Grazing cows</p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="../src/images/about/photo-cows__lg.jpg"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="../src/images/about/photo-cows__md.jpg"
              type="image/jpg"
            />
            <img
              class="mod-img"
              src="../src/images/about/photo-cows__sm.jpg"
              alt="cow"
              width="100%"
            />
          </picture>
        </li>
        <li class="item about-item">
          <p class="description-img">Milk collection</p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="../src/images/about/photo-milk__lg.jpg"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="../src/images/about/photo-milk__md.jpg"
              type="image/jpg"
            />
            <img class="mod-img" src="../src/images/about/photo-milk__sm.jpg" />
          </picture>
        </li>
        <li class="item about-item">
          <p class="description-img">Secret recipe</p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="../src/images/about/photo-kitchen__lg.jpg"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="../src/images/about/photo-kitchen__md.jpg"
              type="image/jpg"
            />
            <img
              class="mod-img"
              src="/src/images/about/photo-kitchen__sm.jpg"
            />
          </picture>
        </li>
        <li class="item about-item">
          <p class="description-img">Selling</p>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="../src/images/about/photo-ice-cream__lg.jpg"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="../src/images/about/photo-ice-cream__md.jpg"
              type="image/jpg"
            />
            <img
              class="mod-img"
              src="/src/images/about/photo-ice-cream__sm.jpg"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
