<section class="section advantages">
  <h2 class="visually-hidden">Our advantages</h2>

  <ul class="advantages-list">
    <li class="advantages-list__item">
      <svg width="50" height="50" class="advantages-list__icon">
        <use href="./images/sprite.svg#icecream"></use>
      </svg>

      <h4 class="advantages-list__title">721</h4>
      <p class="advantages-list__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-list__item">
      <svg width="50" height="50">
        <use href="./images/sprite.svg#apples"></use>
      </svg>

      <h4 class="advantages-list__title">16KG</h4>
      <p class="advantages-list__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-list__item">
      <svg width="50" height="50">
        <use href="./images/sprite.svg#heart"></use>
      </svg>
      <h4 class="advantages-list__title">84</h4>
      <p class="advantages-list__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
