<section class="contacts">
    <div class="container">
        <h1 class="visually-hidden" class="section-title">Наши контакты</h1>
        <ul class="contact list">
            <li class="contact_item">
                <button type="button" class="contact_btn--first">CAFE</button>
                <div class="contact_address">
                    <h3 class="contact_title">Chicago</h3>
                    <p class="contact_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact_date">
                    <ul class="contact_date list">
                        <li class="contact_date_item">
                            <h3 class="contact_title">Monday - Friday</h3>
                            <time>06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact_date_item">
                            <h3 class="contact_title">Saturday - Sunday</h3>
                            <time>08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                </div>
                <div class="contact_call">
                    <ul class="contact_call list">
                        <li class="contact_call_item"><a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a></li>
                        <li class="contact_call_item"><a href="tel:+61 (0) 383 766 284" class="tel">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact_item">
                <button type="button" class="contact_btn--second">FOODTRUCK</button>
                <div class="contact_address">
                    <h3 class="contact_title">Los Angeles</h3>
                    <p class="contact_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact_date">
                    <ul class="contact_date list">
                        <li class="contact_date_item">
                            <h3 class="contact_title">Monday - Friday</h3>
                            <time>06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact_date_item">
                            <h3 class="contact_title">Saturday - Sunday</h3>
                            <time>08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                </div>
                <div class="contact_call">
                    <ul class="contact_call list">
                        <li class="contact_call_item"><a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a></li>
                        <li class="contact_call_item"><a href="tel:+61 (0) 383 766 284" class="tel">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact_item">
                <button type="button" class="contact_btn--first">CAFE</button>
                <div class="contact_address">
                    <h3 class="contact_title">New York</h3>
                    <p class="contact_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact_date">
                    <ul class="contact_date list">
                        <li class="contact_date_item">
                            <h3 class="contact_title">Monday - Friday</h3>
                            <time>06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact_date_item">
                            <h3 class="contact_title">Saturday - Sunday</h3>
                            <time>08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                </div>
                <div class="contact_call">
                    <ul class="contact_call list">
                        <li class="contact_call_item"><a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a></li>
                        <li class="contact_call_item"><a href="tel:+61 (0) 383 766 284" class="tel">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>