<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden" class="section-title">Наши контакты</h2>
        <ul class="contact list">
            <li class="contact__item">
                <div class="contact__point contact__point--first" id="rectangle">CAFE</div>
                <div class="contact__address">
                    <h3 class="contact__title">Chicago</h3>
                    <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact__dates">
                    <ul class="contact__date list">
                        <li class="contact__date__item">
                            <h3 class="contact__title">Monday - Friday</h3>
                            <time class="time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact__date__item">
                            <h3 class="contact__title">Saturday - Sunday</h3>
                            <time class="time">08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                </div>
                <div class="contact__call">
                    <ul class="contact__call list">
                        <li class="contact__call__item"><a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a></li>
                        <li class="contact__call__item"><a href="tel:+61 (0) 383 766 284" class="tel">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact__item">
                <div class="contact__point contact__point--second" id="rectangle">FOODTRUCK</div>
                <div class="contact__address">
                    <h3 class="contact__title">Los Angeles</h3>
                    <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact__dates">
                    <ul class="contact__date list">
                        <li class="contact__date__item">
                            <h3 class="contact__title">Monday - Friday</h3>
                            <time class="time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact__date__item">
                            <h3 class="contact__title">Saturday - Sunday</h3>
                            <time class="time">08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                </div>
                <div class="contact__call">
                    <ul class="contact__call list">
                        <li class="contact__call__item"><a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a></li>
                        <li class="contact__call__item"><a href="tel:+61 (0) 383 766 284" class="tel">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
            <li class="contact__item">
                <div class="contact__point contact__point--first" id="rectangle">CAFE</div>
                <div class="contact__address">
                    <h3 class="contact__title">New York</h3>
                    <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact__dates">
                    <ul class="contact__date list">
                        <li class="contact__date__item">
                            <h3 class="contact__title">Monday - Friday</h3>
                            <time class="time">06:00 AM - 10:00 PM</time>
                        </li>
                        <li class="contact__date__item">
                            <h3 class="contact__title">Saturday - Sunday</h3>
                            <time class="time">08:00 AM - 16:00 PM</time>
                        </li>
                    </ul>
                </div>
                <div class="contact__call">
                    <ul class="contact__call list">
                        <li class="contact__call__item"><a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a></li>
                        <li class="contact__call__item"><a href="tel:+61 (0) 383 766 284" class="tel">+61(0) 383 766 284</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="contact__info list">
            <li class="contact__info__item">
                <button type="button" class="contact__btn contact__btn--first">Our Locations > </button>
            </li>
            <li class="contact__info__item">
                <button type="button" class="contact__btn contact__btn--second">Franchise  > </button>
            </li>
        </ul>
    </div>
</section>