<section class="customer__reviews container">
    <h1 class="visually-hidden">Отзывы клиентов</h1>
    <div class="slider__reviews">
        <div class="slaiders">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">

            <div class="slide s1"><img class="clients__img"
                    srcset="/src/images/customer/emily.png 85w, /src/images/customer/emily@2x.png 85w"
                    src="/src/images/customer/emily.png" alt="Emily" sizes="85px">
                <div class="text">
                    <p class="rewiews">Nullam viverra consectetuer. Quisque cursus et,
                        porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    <p>Emily, Los Angeles</p>
                </div>

            </div>
            <div class="slide"><img class="clients__img"
                    srcset="/src/images/customer/camilla.png 85w, /src/images/customer/camilla@2x.png 85w"
                    src="/src/images/customer/camilla.png" alt="Camilla" sizes="85px">
                <div class="text">
                    <p class="rewiews">Nullam viverra consectetuer. Quisque cursus et,
                        porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    <p>Camilla, Chicago</p>
                </div>

            </div>
            <div class="slide"><img class="clients__img"
                    srcset="/src/images/customer/juliet.png 85w, /src/images/customer/juliet@2x.png 85w"
                    src="/src/images/customer/juliet.png" alt="Juliet" sizes="85px">
                <div class="text">
                    <p class="rewiews">Nullam viverra consectetuer. Quisque cursus et,
                        porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    <p>Juliet, New York</p>
                </div>

            </div>

            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
            </div>

        </div>

    </div>
</section>