<section class="customer__reviews">
    <h1 class="visually-hidden">Отзывы клиентов</h1>
    <div class="container">
        <li><img class="clients__img" srcset="./images-customer/emily.png 85w, ./images-customer/emily@2x.png 85w"
                src="./images-customer/emily.png" alt="Emily" sizes="85px">
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem cumque, fuga aliquid iure ullam
                officia!
                Perferendis fuga commodi sint necessitatibus totam iusto aspernatur quos omnis, ratione animi nesciunt
                officia temporibus.
            </p>
        </li>
        <li><img class="clients__img" srcset="./images-customer/camilla.png 85w, ./images-customer/camilla@2x.png 85w"
                src="./images-customer/camilla.png" alt="Camilla" sizes="85px">
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem cumque, fuga aliquid iure ullam
                officia!
                Perferendis fuga commodi sint necessitatibus totam iusto aspernatur quos omnis, ratione animi nesciunt
                officia temporibus.
            </p>
        </li>
        <li><img class="clients__img" srcset="./images-customer/juliet.png 85w, ./images-customer/juliet@2x.png 85w"
                src="./images-customer/juliet.png" alt="Juliet" sizes="85px">
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem cumque, fuga aliquid iure ullam
                officia!
                Perferendis fuga commodi sint necessitatibus totam iusto aspernatur quos omnis, ratione animi nesciunt
                officia temporibus.
            </p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </div>

</section>