<section class="section customer-reviews ">
    <div class="reviews__container container">
        <h2 class="visually-hidden">Отзывы клиентов</h2>
        <div class="slider__reviews">
            <div class="slaiders">

                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">

                <div class="slide s1"><img class="clients__img"
                        srcset="/src/images/customer/emily.png 85w, /src/images/customer/emily@2x.png 170w"
                        src="/src/images/customer/emily.png" alt="Emily" sizes="85px">
                    <div class="reviews">
                        <article class="post-text">Nullam viverra consectetuer. Quisque cursus et,
                            porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </article>
                    </div>
                    <div class="customer">
                        <ul class="point list">
                            <li class="point__item"></li>
                            <li class="point__item"></li>
                            <li class="point__item"></li>
                        </ul>
                        <p class="customer__name">Emily, Los Angeles</p>
                    </div>
                </div>
                <div class="slide"><img class="clients__img"
                        srcset="/src/images/customer/camilla.png 85w, /src/images/customer/camilla@2x.png 170w"
                        src="/src/images/customer/camilla.png" alt="Camilla" sizes="85px">
                    <div class="reviews">
                        <article class="post-text">Nullam viverra consectetuer. Quisque cursus et,
                            porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </article>
                    </div>
                    <div class="customer">
                        <ul class="point list">
                            <li class="point__item"></li>
                            <li class="point__item"></li>
                            <li class="point__item"></li>
                        </ul>
                        <p class="customer__name">Camilla, Chicago</p>
                    </div>
                </div>
                <div class="slide"><img class="clients__img"
                        srcset="/src/images/customer/juliet.png 85w, /src/images/customer/juliet@2x.png 170w"
                        src="/src/images/customer/juliet.png" alt="Juliet" sizes="85px">
                    <div class="reviews">
                        <article class="post-text">Nullam viverra consectetuer. Quisque cursus et,
                            porttitor risus. Aliquam sem. In
                            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </article>
                    </div>
                    <div class="customer">
                        <ul class="point list">
                            <li class="point__item"></li>
                            <li class="point__item"></li>
                            <li class="point__item"></li>
                        </ul>
                        <p class="customer__name">Juliet, New York</p>
                    </div>
                </div>
                <div class="pagination">
                    <label for="r1" class="bar">
                        <svg class="house__icon" width="15" height="12">
                            <use href="/src/images/sprite.svg#home"></use>
                        </svg>
                    </label>
                    <label for="r2" class="bar">
                        <svg class="house__icon" width="15" height="12">
                            <use href="/src/images/sprite.svg#home"></use>
                        </svg>
                    </label>
                    <label for="r3" class="bar">
                        <svg class="house__icon" width="15" height="12">
                            <use href="/src/images/sprite.svg#home"></use>
                        </svg>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>