<footer class="footer container" id="footer">
    <div class="footer__btn-wrap">
        <button class="btn" type="button">Our Locations</button>
        <button class="btn" type="button">Franchise</button>
    </div>
    <div class="footer__adaptive-wrap">
        <div class="footer__text-wrap">
            <p class="footer__upper-text">homemade ice cream made</p>
            <p class="footer__bottom-text">with passion</p>
        </div>
        <div class="footer__contact-wrap">
            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link"><svg class="social__icon">
                            <use href="./images/sprite.svg#github"></use>
                        </svg> </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link"><svg class="social__icon">
                            <use href="./images/sprite.svg#telegram"></use>
                        </svg></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link"><svg class="social__icon">
                            <use href="./images/sprite.svg#facebook"></use>
                        </svg></a>
                </li>
            </ul>
            <div class="footer__contact">
                <p><span>Feel free to contact</span><a class="footer__tel" href="tel:+61 (0) 383 766 284">+61 (0) 383 766284</a></p>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>&copy; 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>