<footer class="footer" id="footer">
        <div class="container">
            <div class="footer__adaptive-wrap">
                <div class="footer__text-wrap">
                    <p class="products__uppertitle">homemade ice cream made</p>
                    <p class="section-title">with passion</p>
                </div>
                <div class="footer__contact-wrap">
                    <ul class="social list">
                        <li class="social__item list">
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram"
                                class="social__link link"><svg class="social__icon">
                                    <use href="./images/sprite.svg#github"></use>
                                </svg> </a>
                        </li>
                        <li class="social__item list">
                            <a href="https://web.telegram.org/z/" target="_blank" rel="noopener noreferrer" aria-label="Telegram"
                                class="social__link link"><svg class="social__icon">
                                    <use href="./images/sprite.svg#telegram"></use>
                                </svg></a>
                        </li>
                        <li class="social__item list">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook"
                                class="social__link link"><svg class="social__icon">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg></a>
                        </li>
                    </ul>
                    <div class="footer__contact">
                        <p><span>Feel free to contact</span><a class="footer__tel link" href="tel:+610383766284">+61 (0) 383
                                766284</a></p>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <p>&copy; 2022 - IceCream.</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
</footer>