<section class="section gallery">
  <h2 class="visually-hidden">Photo of our ice cream</h2>
  <ul class="list gallery__columns ">
    <li class="gallery__column">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/1-picture@1x.webp 1x,
          /src/images/gallery/lg/1-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/1-picture@1x.png 1x,
          /src/images/gallery/lg/1-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/1-picture@1x.webp 1x,
          /src/images/gallery/md/1-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/1-picture@1x.png 1x,
          /src/images/gallery/md/1-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/1-picture@1x.webp 1x,
          /src/images/gallery/sm/1-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/1-picture@1x.png 1x,
          /src/images/gallery/sm/1-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture"
          src="/src/images/gallery/sm/1-picture@1x.png"
          alt="Green ice cream"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__column">
      <picture >
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/2-picture@1x.webp 1x,
          /src/images/gallery/lg/2-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/2-picture@1x.png 1x,
          /src/images/gallery/lg/2-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/2-picture@1x.webp 1x,
          /src/images/gallery/md/2-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/2-picture@1x.png 1x,
          /src/images/gallery/md/2-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/2-picture@1x.webp 1x,
          /src/images/gallery/sm/2-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/2-picture@1x.png 1x,
          /src/images/gallery/sm/2-picture@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="gallery__picture gallery__picture--top"
          src="/src/images/gallery/sm/2-picture@1x.png"
          alt="ice cream cone"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/3-picture@1x.webp 1x,
          /src/images/gallery/lg/3-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/3-picture@1x.png 1x,
          /src/images/gallery/lg/3-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/3-picture@1x.webp 1x,
          /src/images/gallery/md/3-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/3-picture@1x.png 1x,
          /src/images/gallery/md/3-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/3-picture@1x.webp 1x,
          /src/images/gallery/sm/3-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/3-picture@1x.png 1x,
          /src/images/gallery/sm/3-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture"
          src="/src/images/gallery/sm/3-picture@1x.png"
          alt="ice cream with raspberries"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__column gallery__column--wide">
      <picture >
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/4-picture@1x.webp 1x,
          /src/images/gallery/lg/4-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/4-picture@1x.png 1x,
          /src/images/gallery/lg/4-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/4-picture@1x.webp 1x,
          /src/images/gallery/md/4-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/4-picture@1x.png 1x,
          /src/images/gallery/md/4-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/4-picture@1x.webp 1x,
          /src/images/gallery/sm/4-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/4-picture@1x.png 1x,
          /src/images/gallery/sm/4-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture gallery__picture--top"
          src="/src/images/gallery/sm/4-picture@1x.png"
          alt="ice cream with blueberries"
          width="283" height="283"
          loading="lazy"
        />
      </picture>
      <picture >
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/10-picture@1x.webp 1x,
          /src/images/gallery/lg/10-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/10-picture@1x.png 1x,
          /src/images/gallery/lg/10-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/10-picture@1x.webp 1x,
          /src/images/gallery/md/10-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/10-picture@1x.png 1x,
          /src/images/gallery/md/10-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/10-picture@1x.webp 1x,
          /src/images/gallery/sm/10-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/10-picture@1x.png 1x,
          /src/images/gallery/sm/10-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture gallery__picture--small"
          src="/src/images/gallery/sm/10-picture@1x.png"
          alt="girl with ice cream"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__column ">
      <picture >
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/5-picture@1x.webp 1x,
          /src/images/gallery/lg/5-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/5-picture@1x.png 1x,
          /src/images/gallery/lg/5-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/5-picture@1x.webp 1x,
          /src/images/gallery/md/5-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/5-picture@1x.png 1x,
          /src/images/gallery/md/5-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/5-picture@1x.webp 1x,
          /src/images/gallery/sm/5-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/5-picture@1x.png 1x,
          /src/images/gallery/sm/5-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture gallery__picture--top"
          src="/src/images/gallery/sm/5-picture@1x.png"
          alt="ice cream in a bowl"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/6-picture@1x.webp 1x,
          /src/images/gallery/lg/6-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/6-picture@1x.png 1x,
          /src/images/gallery/lg/6-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/6-picture@1x.webp 1x,
          /src/images/gallery/md/6-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/6-picture@1x.png 1x,
          /src/images/gallery/md/6-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/6-picture@1x.webp 1x,
          /src/images/gallery/sm/6-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/6-picture@1x.png 1x,
          /src/images/gallery/sm/6-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture"
          src="/src/images/gallery/sm/6-picture@1x.png"
          alt="ice cream with a star"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__column gallery__column--high">

      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/7-picture@1x.webp 1x,
          /src/images/gallery/lg/7-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/7-picture@1x.png 1x,
          /src/images/gallery/lg/7-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/7-picture@1x.webp 1x,
          /src/images/gallery/md/7-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/7-picture@1x.png 1x,
          /src/images/gallery/md/7-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/7-picture@1x.webp 1x,
          /src/images/gallery/sm/7-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/7-picture@1x.png 1x,
          /src/images/gallery/sm/7-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture gallery__picture--top"
          src="/src/images/gallery/sm/7-picture@1x.png"
          alt="dog licks ice cream"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/8-picture@1x.webp 1x,
          /src/images/gallery/lg/8-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/8-picture@1x.png 1x,
          /src/images/gallery/lg/8-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/8-picture@1x.webp 1x,
          /src/images/gallery/md/8-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/8-picture@1x.png 1x,
          /src/images/gallery/md/8-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/8-picture@1x.webp 1x,
          /src/images/gallery/sm/8-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/8-picture@1x.png 1x,
          /src/images/gallery/sm/8-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture"
          src="/src/images/gallery/sm/8-picture@1x.png"
          width="138" height="138"
          alt="frappe"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__column">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/9-picture@1x.webp 1x,
          /src/images/gallery/lg/9-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
          /src/images/gallery/lg/9-picture@1x.png 1x,
          /src/images/gallery/lg/9-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/9-picture@1x.webp 1x,
          /src/images/gallery/md/9-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          /src/images/gallery/md/9-picture@1x.png 1x,
          /src/images/gallery/md/9-picture@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/9-picture@1x.webp 1x,
          /src/images/gallery/sm/9-picture@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          /src/images/gallery/sm/9-picture@1x.png 1x,
          /src/images/gallery/sm/9-picture@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__picture"
          src="/src/images/gallery/sm/9-picture@1x.png"
          alt="ice cream in a cup with milk"
          width="138" height="138"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
</section>
