<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<div class="container">
    <div class="grid">
        <div class="grid__item"><img src="/src/images/gallery/1-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/2-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/3-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/4-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/5-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/6-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/7-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/8-picture@1x.jpg" alt=""></div>
        <div class="grid__item"><img src="/src/images/gallery/9-picture@1x.jpg" alt=""></div>
    </div>
</div>