<header class="header" id="header">
  <div class="header__container container">
    <a class="link logo" href="./index.html" aria-label="logo company">
      <!-- <svg class="logo" alt="logo Ice Cream" width="199" height="50">
        <use href="./images/sprite.svg#logo"></use>
      </svg> -->
      <div class="logo__circle">
        <picture>
          <source media="(min-width: 1200px)" srcset="
                ../src/images/logo/logo-circle.webp    1x,
                ../src/images/logo/logo-circle@2x.webp 2x" type="image/webp" />
          <img class="logo-img logo-img--circle" srcset="
                ../src/images/logo/logo-circle.png    50w,
                ../src/images/logo/logo-circle@2x.png 100w" src="../src/images/logo/logo-circle.png"
            sizes="(min-width:1200px) 50px, 100vw" alt="Ice-cream circle" width="50" height="50" loading="lazy" />
        </picture>
      </div>
      <div class="logo__name">
        <picture class="logo-img logo-img--name">
          <source media="(min-width: 1200px)" srcset="
                              ../src/images/logo/logo-name.webp    1x,
                              ../src/images/logo/logo-name@2x.webp 2x" type="image/webp" />
          <img class="logo-img logo-img--name" srcset="
                              ../src/images/logo/logo-name.png    129w,
                              ../src/images/logo/logo-name@2x.png 258w" src="../src/images/logo/logo-name.png"
            sizes="(min-width:1200px) 129px, 100vw" alt="Icecream" width="129" height="18" loading="lazy" />
        </picture>
      </div>
    </a>
    <nav class="navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="navigation__link link" href="#hero" aria-label="Home">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#advantages" aria-label="About us">About
            us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about" aria-label="How it’s made?">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products" aria-label="Our products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts" aria-label="Contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn btn" type="button" data-modal-open>Buy now</button>
    <button class="mobile-btn" type="button" aria-label="Switch mobile menu" aria-expanded="false"
      aria-controls="mobile-menu" data-menu-button>
      <svg class="mobile-btn__icon" width="20" height="20">
        <use class="mobile-btn__icon-open" href="./images/sprite.svg#menu"></use>
        <use class="mobile-btn__icon-close" href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <!-- ========= MOBILE MENU ===========-->
  <div class="header__mobile-menu mobile-menu" id="mobile-menu" data-menu>
    <button class="btn" type="button" data-modal-menu-open>Buy now</button>
    <nav class="mobile-menu__navigation navigation">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a class="navigation__link link" href="#hero" aria-label="Home">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#advantages" aria-label="About us">About
            us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#about" aria-label="How it’s made?">How it’s
            made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#products" aria-label="Our products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link link" href="#contacts" aria-label="Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>