<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__title-points">
      <div class="hero__title-box">
        <h1 class="hero__title">
          ice cream made with <span class="hero__subtitle">passion</span>
        </h1>
        <ul class="hero__list-anchors list">
          <li class="hero__item-anchor hero__item-anchor--red">
            <a
              class="hero__anchor link"
              href="#products"
              aria-label="Our products"
              >Products</a
            >
          </li>
          <li class="hero__item-anchor hero__item-anchor--white">
            <a
              class="hero__anchor link"
              href="#about"
              aria-label="How it’s made?"
              >How it’s made?</a
            >
          </li>
        </ul>
      </div>
      <ul class="hero__list-points list">
        <li class="hero__item-point">
          <span class="hero__point-qty">16</span
          ><span class="hero__point-type">cafes</span>
        </li>
        <li class="hero__item-point">
          <span class="hero__point-qty">23</span
          ><span class="hero__point-type">food trucks</span>
        </li>
      </ul>
    </div>
    <!-- Slider -->
    <div class="slider">
      <input
        class="slider__input slider__input--1"
        type="radio"
        id="s1"
        name="Slides"
        checked
      />
      <input
        class="slider__input slider__input--2"
        type="radio"
        id="s2"
        name="Slides"
      />
      <input
        class="slider__input slider__input--3"
        type="radio"
        id="s3"
        name="Slides"
      />
      <div class="slider__item" id="slide__1">
        <picture class="slider__picture"
          ><source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/hero/hero-milk_lg.png    1x,
              ../src/images/hero/hero-milk_lg@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/hero/hero-milk_md.png    1x,
              ../src/images/hero/hero-milk_md@2x.png 2x
            " />
          <img
            class="slider__img"
            src="../src/images/hero/hero-milk_md.png"
            alt="Bottle of milk"
            loading="lazy"
        /></picture>
        <div class="slider__desc">
          <p class="slider__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <label class="next" for="і2"
            ><svg class="slider__icon" width="7" height="7">
              <use href="../src/images/sprite.svg#arrow-right"></use></svg
          ></label>
          <a href="#slide__2" class="slider__btn link" aria-label="next slide">
          </a>
        </div>
      </div>
      <div class="slider__item" id="slide__2">
        <picture class="slider__picture"
          ><source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/hero/hero-milk_2_lg.png    1x,
              ../src/images/hero/hero-milk_2_lg@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/hero/hero-milk_2_md.png    1x,
              ../src/images/hero/hero-milk_2_md@2x.png 2x
            " />
          <img
            class="slider__img"
            src="../src/images/hero/hero-milk_2_md.png"
            alt="Nice Guy"
            loading="lazy"
        /></picture>
        <div class="slider__desc">
          <p class="slider__text">
            I like Ice-cream! I like Ice-cream! I like Ice-cream! I like
            Ice-cream! I like Ice-cream! I like Ice-cream!
          </p>
          <a href="#slide__3" class="slider__btn link" aria-label="next slide">
            <svg class="slider__icon" width="7" height="7">
              <use href="../src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="slider__item" id="slide__3">
        <picture class="slider__picture"
          ><source
            media="(min-width: 1200px)"
            srcset="
              ../src/images/hero/hero-milk_3_lg.png    1x,
              ../src/images/hero/hero-milk_3_lg@2x.png 2x
            " />
          <source
            media="(min-width: 768px)"
            srcset="
              ../src/images/hero/hero-milk_3_md.png    1x,
              ../src/images/hero/hero-milk_3_md@2x.png 2x
            " />
          <img
            class="slider__img"
            src="../src/images/hero/hero-milk_3_md.png"
            alt="Bottle of milk"
            loading="lazy"
        /></picture>
        <div class="slider__desc">
          <p class="slider__text">
            Here We
            Gooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-!!!
          </p>
          <a href="#slide__1" class="slider__btn link" aria-label="next slide">
            <svg class="slider__icon" width="7" height="7">
              <use href="../src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="slider">
      <ul class="slider__list list">
        <li class="slider__item" id="slide__1">
          <picture class="slider__picture"
            ><source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/hero/hero-milk_lg.png    1x,
                ../src/images/hero/hero-milk_lg@2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/hero/hero-milk_md.png    1x,
                ../src/images/hero/hero-milk_md@2x.png 2x
              " />
            <img
              class="slider__img"
              src="../src/images/hero/hero-milk_md.png"
              alt="Bottle of milk"
              loading="lazy"
          /></picture>
          <div class="slider__desc">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a
              href="#slide__2"
              class="slider__btn link"
              aria-label="next slide"
            >
              <svg class="slider__icon" width="7" height="7">
                <use href="../src/images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="slider__item" id="slide__2">
          <picture class="slider__picture"
            ><source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/hero/hero-milk_2_lg.png    1x,
                ../src/images/hero/hero-milk_2_lg@2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/hero/hero-milk_2_md.png    1x,
                ../src/images/hero/hero-milk_2_md@2x.png 2x
              " />
            <img
              class="slider__img"
              src="../src/images/hero/hero-milk_2_md.png"
              alt="Nice Guy"
              loading="lazy"
          /></picture>
          <div class="slider__desc">
            <p class="slider__text">
              I like Ice-cream! I like Ice-cream! I like Ice-cream! I like
              Ice-cream! I like Ice-cream! I like Ice-cream!
            </p>
            <a
              href="#slide__3"
              class="slider__btn link"
              aria-label="next slide"
            >
              <svg class="slider__icon" width="7" height="7">
                <use href="../src/images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="slider__item" id="slide__3">
          <picture class="slider__picture"
            ><source
              media="(min-width: 1200px)"
              srcset="
                ../src/images/hero/hero-milk_3_lg.png    1x,
                ../src/images/hero/hero-milk_3_lg@2x.png 2x
              " />
            <source
              media="(min-width: 768px)"
              srcset="
                ../src/images/hero/hero-milk_3_md.png    1x,
                ../src/images/hero/hero-milk_3_md@2x.png 2x
              " />
            <img
              class="slider__img"
              src="../src/images/hero/hero-milk_3_md.png"
              alt="Bottle of milk"
              loading="lazy"
          /></picture>
          <div class="slider__desc">
            <p class="slider__text">
              Here We
              Gooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-ooooo-!!!
            </p>
            <a
              href="#slide__1"
              class="slider__btn link"
              aria-label="next slide"
            >
              <svg class="slider__icon" width="7" height="7">
                <use href="../src/images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div> -->
    <div class="hero__bg-ellipse"></div>
    <picture class="hero__icecream-picture--1"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_1.png    1x,
          ../src/images/hero/hero-icecream_lg_1@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_1.png    1x,
          ../src/images/hero/hero-icecream_md_1@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_1.png    1x,
          ../src/images/hero/hero-icecream_sm_1@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--1 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_1.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__icecream-picture--2"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_2.png    1x,
          ../src/images/hero/hero-icecream_lg_2@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_2.png    1x,
          ../src/images/hero/hero-icecream_md_2@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_2.png    1x,
          ../src/images/hero/hero-icecream_sm_2@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--2 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_2.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__icecream-picture--3"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_3.png    1x,
          ../src/images/hero/hero-icecream_lg_3@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_3.png    1x,
          ../src/images/hero/hero-icecream_md_3@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_3.png    1x,
          ../src/images/hero/hero-icecream_sm_3@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--3 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_3.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__icecream-picture--4"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_4.png    1x,
          ../src/images/hero/hero-icecream_lg_4@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_4.png    1x,
          ../src/images/hero/hero-icecream_md_4@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_4.png    1x,
          ../src/images/hero/hero-icecream_sm_4@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--4 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_4.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__icecream-picture--5"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_5.png    1x,
          ../src/images/hero/hero-icecream_lg_5@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_5.png    1x,
          ../src/images/hero/hero-icecream_md_5@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_5.png    1x,
          ../src/images/hero/hero-icecream_sm_5@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--5 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_5.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__icecream-picture--6"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_6.png    1x,
          ../src/images/hero/hero-icecream_lg_6@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_6.png    1x,
          ../src/images/hero/hero-icecream_md_6@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_6.png    1x,
          ../src/images/hero/hero-icecream_sm_6@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--6 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_6.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__icecream-picture--7"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-icecream_lg_7.png    1x,
          ../src/images/hero/hero-icecream_lg_7@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-icecream_md_7.png    1x,
          ../src/images/hero/hero-icecream_md_7@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../src/images/hero/hero-icecream_sm_7.png    1x,
          ../src/images/hero/hero-icecream_sm_7@2x.png 2x
        "
      />
      <img
        class="hero__icecream-img--7 hero__icecream-img"
        src="../src/images/hero/hero-icecream_sm_7.png"
        alt="Ice-cream cone"
        loading="lazy"
      />
    </picture>
    <picture class="hero__girl-picture"
      ><source
        media="(min-width: 1200px)"
        srcset="
          ../src/images/hero/hero-girl_lg.png    1x,
          ../src/images/hero/hero-girl_lg@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../src/images/hero/hero-girl_md.png    1x,
          ../src/images/hero/hero-girl_md@2x.png 2x
        "
      />
      <img
        class="hero__girl-img"
        src="../src/images/hero/hero-girl_md.png"
        alt="Girl with ice-cream"
        loading="lazy"
      />
    </picture>
  </div>
</section>
