<section class="hero" id="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream made with<span class="hero__subtitle">passion</span>
    </h1>
    <ul class="hero__list-anchors">
      <li class="hero__item-anchor">
        <a class="hero__anchor" href="#products">Products</a>
      </li>
      <li class="hero__item-anchor">
        <a class="hero__anchor" href="#about">How it’s made?</a>
      </li>
    </ul>
    <ul class="hero__list-points">
      <li class="hero__item-point">
        <span class="hero__point-qty">16</span><span class="hero__point-type">cafes</span>
      </li>
      <li class="hero__item-point">
        <span class="hero__point-qty">23</span><span class="hero__point-type">food trucks</span>
      </li>
    </ul>
    <div class="slider">
      <ul class="slider__list">
        <li class="slider__item" id="slide__1">
          <picture class="slider__picture">
            <source media="(min-width: 768px)" srcset="
                ../src/images/hero/hero-milk_lg.png    1x,
                ../src/images/hero/hero-milk_lg@2x.png 2x
              " />
            <source media="(min-width: 320px)" srcset="
                ../src/images/hero/hero-milk_md.png    1x,
                ../src/images/hero/hero-milk_md@2x.png 2x
              " />
            <img class="slider__img" src="../src/images/hero/hero-milk_md.png" alt="Bottle of milk" loading="lazy" />
          </picture>
          <div class="slider__desc">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="#slide__2" class="slider__btn">
              <svg class="pagination" width="26" height="26">
                <use href="../src/images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="slider__item" id="slide__2">
          <picture class="slider__picture">
            <source media="(min-width: 768px)" srcset="
                ../src/images/hero/hero-milk_lg.png    1x,
                ../src/images/hero/hero-milk_lg@2x.png 2x
              " />
            <source media="(min-width: 320px)" srcset="
                ../src/images/hero/hero-milk_md.png    1x,
                ../src/images/hero/hero-milk_md@2x.png 2x
              " />
            <img class="slider__img" src="../src/images/hero/hero-milk_md.png" alt="Bottle of milk" loading="lazy" />
          </picture>
          <div class="slider__desc">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="#slide__3" class="slider__btn">
              <svg class="pagination" width="26" height="26">
                <use href="../src/images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="slider__item" id="slide__3">
          <picture class="slider__picture">
            <source media="(min-width: 768px)" srcset="
                ../src/images/hero/hero-milk_lg.png    1x,
                ../src/images/hero/hero-milk_lg@2x.png 2x
              " />
            <source media="(min-width: 320px)" srcset="
                ../src/images/hero/hero-milk_md.png    1x,
                ../src/images/hero/hero-milk_md@2x.png 2x
              " />
            <img class="slider__img" src="../src/images/hero/hero-milk_md.png" alt="Bottle of milk" loading="lazy" />
          </picture>
          <div class="slider__desc">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="#slide__1" class="slider__btn">
              <svg class="pagination" width="26" height="26">
                <use href="../src/images/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <picture class="hero__icecream-picture">
      <source media="(min-width: 768px)" srcset="
          ../src/images/hero/hero-icecream_lg.png    1x,
          ../src/images/hero/hero-icecream_lg@2x.png 2x
        " />
      <source media="(min-width: 320px)" srcset="
          ../src/images/hero/hero-icecream_md.png    1x,
          ../src/images/hero/hero-icecream_md@2x.png 2x
        " />
      <source media="(max-width: 319px)" srcset="
          ../src/images/hero/hero-icecream_sm.png    1x,
          ../src/images/hero/hero-icecream_sm@2x.png 2x
        " />
      <img class="hero__icecream-img" src="../src/images/hero/hero-icecream_sm.png" alt="Ice-cream cone"
        loading="lazy" />
    </picture>
    <picture class="hero__girl-picture">
      <source media="(min-width: 768px)" srcset="
          ../src/images/hero/hero-girl_lg.png    1x,
          ../src/images/hero/hero-girl_lg@2x.png 2x
        " />
      <source media="(min-width: 320px)" srcset="
          ../src/images/hero/hero-girl_md.png    1x,
          ../src/images/hero/hero-girl_md@2x.png 2x
        " />
      <img class="hero__girl-img" src="../src/images/hero/hero-girl_md.png" alt="Girl with ice-cream" loading="lazy" />
    </picture>
  </div>
</section>