<section class="section products__section" id="products">
  <div class="container products__container">
    <p class="products__uppertitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="list products-cards__grid">
      <li class="products-cards__grid-item">
        <article class="products-card__article products-card__ice-cream">
          <h3 class="products-card__title">ice cream</h3>
          <p class="products-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button
            class="product-card__button product-card__button-ice-cream"
            type="button"
            aria-label="Detailed product description button"
          >
            <svg class="products-card__icon" width="10" height="10">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products-cards__grid-item">
        <article class="products-card__article products-card__ice-coffee">
          <h3 class="products-card__title">ice coffee</h3>
          <p class="products-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button
            class="product-card__button product-card__button-ice-coffee"
            type="button"
            aria-label="Detailed product description button"
          >
            <svg class="products-card__icon" width="10" height="10">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </article>
      </li>
      <li class="products-cards__grid-item">
        <article class="products-card__article products-card__milkshakes">
          <h3 class="products-card__title">milkshakes</h3>
          <p class="products-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button
            class="product-card__button product-card__button-milkshakes"
            type="button"
            aria-label="Detailed product description button"
          >
            <svg class="products-card__icon" width="10" height="10">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>

<!-- <a
class="link products-card__btn"
href=""
aria-label="arrow points to the right"
>
<svg class="products-card__icon" width="10" height="10">
<use href="/src/images/sprite.svg#arrow-right"></use>
</svg>
</a> -->
