<section class="products" id="products">
  <div class="products__container">
    <h2 class="products__title-second">100% natural</h2>
    <h2 class="products__title">products</h2>
    <ul class="list products__list">
      <li class="products__item">
        <picture class="products__picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/products/product1_des.png    1x,
              /src/images/products/product1_des@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/products/product1_tab.png    1x,
              /src/images/products/product1_tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /src/images/products/product1_mob.png    1x,
              /src/images/products/product1_mob@2x.png 2x
            "
          />
        </picture>
        <img
          class="products__img"
          src="/src/images/products/product1_des.png"
          alt="photo ice cream"
          width="280"
          height="280"
          loading="lazy"
        />
        <div class="products__text">
          <h3 class="products__name">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            class="link products__link"
            href=""
            aria-label="arrow points to the right"
          >
            <svg class="products__icon" width="40" height="40">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <picture class="products__picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/products/product2_des.png    1x,
              /src/images/products/product2_des@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/products/product2_tab.png    1x,
              /src/images/products/product2_tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /src/images/products/product2_mob.png    1x,
              /src/images/products/product2_mob@2x.png 2x
            "
          />
        </picture>
        <img
          class="products__img"
          src="/src/images/products/product2_des.png"
          alt="photo ice coffee"
          width="280"
          height="280"
          loading="lazy"
        />
        <div class="products__text">
          <h3 class="products__name">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            class="link products__link"
            href=""
            aria-label="arrow points to the right"
          >
            <svg class="products__icon" width="40" height="40">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <picture class="products__picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /src/images/products/product3_des.png    1x,
              /src/images/products/product3_des@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/products/product3_tab.png    1x,
              /src/images/products/product3_tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /src/images/products/product3_mob.png    1x,
              /src/images/products/product3_mob@2x.png 2x
            "
          />
        </picture>
        <img
          class="products__img"
          src="/src/images/products/product3_des.png"
          alt="photo chocolate milkshakes"
          width="280"
          height="280"
          loading="lazy"
        />
        <div class="products__text">
          <h3 class="products__name">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            class="link products__link"
            href=""
            aria-label="arrow points to the right"
          >
            <svg class="products__icon" width="40" height="40">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
