<section class="section products__section" id="products">
  <div class="container products__container">
    <p class="uppertitle products__title-second">100% natural</p>
    <h2 class="section-title products__title">products</h2>
    <ul class="list cards__grid">
      <li class="cards__grid-item">
        <article class="products__card products__card-ice--cream">
          <h3 class="products__card-title">ice cream</h3>
          <p class="description products__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            class="link products__card--btn"
            href=""
            aria-label="arrow points to the right"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="cards__grid-item">
        <article class="products__card products__card-ice--coffee">
          <h3 class="products__card-title">ice coffee</h3>
          <p class="description products__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            class="link products__card--btn"
            href=""
            aria-label="arrow points to the right"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="cards__grid-item">
        <article class="products__card products__card-ice--milkshake">
          <h3 class="products__card-title">milkshakes</h3>
          <p class="description products__card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a
            class="link products__card--btn"
            href=""
            aria-label="arrow points to the right"
          >
            <svg class="products__icon" width="10" height="10">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
