.btn {
    min-width: 160px;
    max-width: 190px;
    height: 44px;
    border-radius: 22px;
    padding: 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--cl-txt-accent-dark);
    background-color: var(--cl-txt-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    transition: color var(--anim), background-color var(--anim);

    &:hover,
    &:focus {
        background-color: var(--bgc-hover);
        -webkit-box-shadow: 0px 0px 15px -6px rgba(19, 18, 18, 0.6) inset;
        -moz-box-shadow: 0px 0px 15px -6px rgba(19, 18, 18, 0.6) inset;
        box-shadow: 0px 0px 15px -6px rgba(19, 18, 18, 0.6) inset;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-left: 13px;
        background-image: url(/src/images/icons/pointer-red.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.btn--mod-red {
    color: var(--cl-txt-white);
    background-color: var(--cl-txt-accent-dark);
    // min-width: 160px;
    // max-width: 190px;
    // height: 44px;
    // border-radius: 22px;
    // padding: 0;
    // cursor: pointer;
    // outline: none;
    // border: none;
    // transition: color var(--anim), background-color var(--anim);

    &::after {
        // content: '';
        // display: inline-block;
        // width: 9px;
        // height: 9px;
        // margin-left: 13px;
        background-image: url(/src/images/icons/pointer-white.svg);
        // background-size: contain;
        // background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
        background-color: var(--bgc-hover);
        color: var(--cl-txt-accent-dark);
        // -webkit-box-shadow: 0px 0px 15px -6px rgba(19, 18, 18, 0.6) inset;
        // -moz-box-shadow: 0px 0px 15px -6px rgba(19, 18, 18, 0.6) inset;
        // box-shadow: 0px 0px 15px -6px rgba(19, 18, 18, 0.6) inset;
    }

    &:hover::after,
    &:focus::after {
        // display: inline-block;
        // width: 9px;
        // height: 9px;
        // margin-left: 13px;
        background-image: url(/src/images/icons/pointer-red.svg);
        // background-size: contain;
        // background-repeat: no-repeat;
    }
}