.header__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;

    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform var(--slow-anim);

    background-color: var(--bgc-menu);

    visibility: hidden;
    overflow-y: scroll;

    &.is-open {
        visibility: visible;
        transform: translateX(0);
    }

    @include mq(tablet) {
        min-width: 320px;
        width: calc(320px + 7em);
        padding-top: 84px;
    }

    @include mq(desktop) {
        display: none;
    }

    &>.btn {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
}

// mobile button
.mobile-btn {
    z-index: 11;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: 20px;
    height: 20px;

    color: var(--cl-txt-accent-dark);
    background: transparent;
    border: none;

    cursor: pointer;
    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--cl-txt-white);
    }

    &.is-open {
        position: fixed;
        top: 27px;
        right: 20px;
        z-index: 12;
        overflow-y: scroll;

        @include mq(tablet) {
            top: 47px;
            right: 32px;
        }
    }

    @include mq(tablet) {
        margin-left: 31px;
    }

    @include mq(desktop) {
        display: none;
    }


    &__icon {
        fill: currentColor;


        &-open {
            display: block;

            .mobile-btn.is-open & {
                display: none;
            }
        }


        &-close {
            display: none;

            .mobile-btn.is-open & {
                display: block;
                position: fixed;
                top: 8px;
                right: 8px;
            }
        }
    }
}

//mobile navigation
.mobile-menu__navigation {
    & .navigation__list {
        display: inline-block;
    }

    & .navigation__item {
        margin-right: 0;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    & .navigation__link {
        position: relative;
        display: flex;
        padding: 0;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.28;

        transition: color var(--anim);

        &::after {
            position: absolute;
            content: ' ';
            bottom: -11px;
            left: -20px;

            height: 1px;
            width: 250px;

            background-color: #E18298;
        }
    }

    & .navigation__link--current {
        color: var(--cl-txt-accent-dark);

        &::before {
            position: absolute;
            content: ' ';
            top: -11px;
            left: -20px;

            height: 1px;
            width: 250px;

            background-color: #E18298;
        }
    }
}