.fix-down {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
}

.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    width: 25px;
    height: 25px;

    background-color: var(--cl-txt-accent-dark);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    animation: slide-top 1s linear 2s infinite alternate both;

    @include mq(tablet) {
        width: 30px;
        height: 30px;
    }
}

.arrow-top {
    fill: var(--cl-txt-white);

    width: 10px;
    height: 10px;

    @include mq(tablet) {
        width: 15px;
        height: 15px;
    }
}