.social {
    display: flex;
    flex-direction: row;

    &__item + &__item {
        margin-left: 28px;
    }

    &__item {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    &__icon {
        width: 32px;
        height: 32px;
        fill: var(--cl-txt-accent-light);
    }
}