.social {
    display: flex;
    flex-direction: row;

    &__item + &__item {
        margin-left: 28px;
    }

    &__item {
        width: 34px;
        height: 34px;
    }

    &__icon {
        max-width: 19px;
        max-height: 19px;
        fill: var(--cl-txt-white);
    }

    &__link {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cl-txt-accent-light);
        border-radius: 50%;

        &:hover,
        &:focus {
            background-color: var(--cl-txt-accent-dark);
            outline: none;
        }
    }
}