
.about{
    background-color: var(--bgc-accent-ice); 
}

.about-container {
    background-repeat: no-repeat;
    background-position: 20px 77%;
    background-size: 280px 133px;
    background-image: url(/src/images/about/about-bg-milk__sm.png);
    background-image: url(/src/images/about/webp/about-bg-milk__sm.webp);

    @include bg(retina) {
        background-image: url(/src/images/about/about-bg-milk__sm@2x.png);
        background-image: url(/src/images/about/webp/about-bg-milk__sm@2x.webp);
        
       }

    @include mq(tablet-only) {
        background-image: none
       }

    @include mq(desktop) {
        background-size: 1200px 521px;
        background-position: 0px 110%;
        background-image: url(/src/images/about/about-bg-milk__lg.png);
        background-image: url(/src/images/about/webp/about-bg-milk__lg.webp);

        @include bg(retina) {
            background-image: url(/src/images/about/about-bg-milk__lg@2x.png);
            background-image: url(/src/images/about/webp/about-bg-milk__lg@2x.webp);
            
           }
       }
}

.label-title {
    margin-bottom: 15px;

    font-family: var(--font-family-title);
    font-size: 18px;
    line-height: 1.17em;
    text-align: center;
    text-transform: uppercase;

    color: var(--cl-txt-accent-light);

    @include mq(tablet) {
        font-size: 26px;
       }

    @include mq(desktop) {
        font-size: 30px;
       }
}

.about__section-title {
    margin-bottom: 32px;
    text-align: center;

    @include mq(tablet) {
        margin-bottom: 40px;
        font-size: 48px;
       }

    @include mq(desktop) {
        margin-bottom: 60px;
        font-size: 58px;
       }
}

.wrapper {
   @include mq(tablet) {
    display: flex;
   }
}

.about-picture{
    display: block;
    margin-bottom: 40px;

    @include mq(tablet) {
        margin-bottom: 0;
        margin-right: 32px;
       }

    @include mq(desktop) {
        margin-right: 99px;
       }
}

.about-img {
    
     @include mq(tablet) {
         width: 336px;
       }

     @include mq(desktop) {
        width: 501px;
       }
}

.wrapper-right{
    width: 220px;

    @include mq(tablet) {
        width: 334px;
      }

    @include mq(desktop) {
        width: 463px;
        padding-top: 90px;
        padding-bottom: 81px; 
       }

}

.about__description {
  margin-bottom: 20px;
  
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58em;

  @include mq(tablet) {
    font-size: 14px;
    margin-bottom: 32px;
   }

  @include mq(desktop) {
    font-size: 16px;
   }

  &--color {
    color: var(--cl-txt-second);

    @include mq(tablet) {
        margin-bottom: 40px;
       }

    @include mq(desktop) {
        font-size: 14px;
       }

  }

  &--pre {
    display: block;
    margin-top: 19px;
    margin-bottom: 0;
    color: var(--cl-txt-second);

    @include mq(desktop) {
        font-size: 14px;
       }

  }
}

.about-button{
    min-width: 176px;
    padding: 13px 37px;
    font-weight: 700;
    background: var(--cl-txt-white);
    border-radius: 22px;
    border: none;
    color: var(--cl-txt-accent-dark);

    transition: color var(--anim), background-color var(--anim);

    &__icon {
        margin-left: 13px;
    }

    &:hover, &:focus {
        background-color: var(--bgc-hover);
    }
}

// Modal window

.about-backdrop {
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    padding: 40px 5px;
    overflow-y: scroll;
  
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
    transition: opacity, visibility, var(--fast-anim);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
        
  }
  

  .about-modal-wrapper {
    padding: 10px 5px;
    margin: 0 auto;
    text-align: center;
    width: 310px;
    border-radius: 4px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

        @include mq(tablet) {
            width: 750px;
            padding: 10px 10px;
           }

        @include mq(desktop) {
            width: 1074px;
           }
    }

  
  .about-btn-close{
    display: block;
    margin-left:auto;
    border: none;
    background-color: transparent ;
  }

  .section-title__md{
    margin-bottom: 15px;
    font-size: 25px;

    @include mq(tablet) {
        font-size: 32px;
       }

    @include mq(desktop) {
        font-size: 40px;
       }
  }
  
  .label-title__md{
    @include mq(tablet) {
        margin-bottom: 25px;
       }
  }

  .about-item{
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
      background: #FFF5F6;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

        @include mq(tablet) {
            padding: 15px;
           }
  }
  
  .description-img {
    margin: 0 auto 20px auto;
    padding-bottom: 5px;
    border-bottom: solid 2px #E1E1E1;
    width: 200px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86em;
    color: var(--cl-txt-main);

  @include mq(tablet) {
    font-size: 18px;
   }

   @include mq(desktop) {
    font-size: 22px;
   }
  }
  
  .mod-img {
    display: block;
    border-radius: 4px;

    @include mq(tablet) {
        width: 700px;
       }

    @include mq(desktop) {
        width: 1024px;
       }
  }