
.contact {
    
    list-style: none;
   
}

.contact_item {
    width: 280px;
    height: 412px;
    padding: 40px 32px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include mq(tablet) {
        width: 100%;  
    }

    @include mq(desktop) {
       
    }
}

.contact_btn {
    display: inline-block;
    padding: 0 32px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-style: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.contact_btn--first {
    color: #FFFFFF;
    background-color: #F0D1A5;
}

.contact_btn--second {
    color: #FFFFFF;
    background-color: #C2E297;
}

.contact_date {
    margin-bottom: 48px;
}

.time {
    color: rgba(255, 165, 186, 1);
}

.contact_date_item:not(:last-child){
    margin-bottom: 8px;
}

.contact_title {
    margin-bottom: 8px;
}

.contact_call_item {
    color: rgba(144, 126, 130, 1);
    text-decoration: none;  
}

.contact_call_item:not(:last-child) {
    margin-bottom: 8px;
}
