.customer-reviews {
  display: block;
  padding: 0;

  @include mq(tablet) {
    padding-bottom: 20px;
  }

  @include mq(desktop) {
    padding: 60px 0;
  }
}

.slider__reviews {
  width: 100%;
  height: 514px;
  position: relative;
  overflow: hidden;

  @include mq(tablet) {
    height: 360px;
  }

  @include mq(desktop) {
    height: 350px;
  }
}

.slider__reviews.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  position: absolute;
  display: flex;
  bottom: 0;
  padding-top: 16px;
  left: 50%;
  transform: translateX(-50%);

  @include mq(tablet) {
    padding-top: 32px;
  }
}

.bar {
  width: 12px;
  height: 12px;

  border-radius: 50%;

  cursor: pointer;

  background-color: #d9d9d9;

  transition: var(--anim);

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.house__icon {
  opacity: 0;
  display: block;
}

input[name='r'] {
  position: absolute;
  visibility: hidden;
}

.bar:hover .house__icon,
.bar:focus .house__icon {
  fill: var(--cl-txt-accent-dark);
  opacity: inherit;
  background-color: var(--cl-txt-white);
}

input[name='r'] {
  position: absolute;
  visibility: hidden;
}

.slaiders {
  width: 300%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 33.333%;
}

.clients__img {
  display: block;
  margin: 0 auto;
  transition: var(--anim);
}

.reviews {
  position: relative;

  max-width: 280px;
  height: 308px;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  display: flex;
  padding-top: 43px;
  padding-bottom: 17px;
  margin-top: 32px;
  background-color: var(--bgc-second);

  @include mq(tablet) {
    max-width: 620px;
    height: 164px;
    width: 100%;
    margin: 20px auto 0;
  }

  @include mq(desktop) {
    max-width: 968px;
    height: 138px;
    width: 100%;
    margin: 16px auto 0;
  }
}

.post-text {
  margin: 0 auto;
  max-width: 180px;
  height: 248px;
  width: 100%;
  padding: 0 11px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 30px,
    var(--cl-txt-light) 30px,
    var(--cl-txt-light) 31px
  );
  transition: var(--anim);

  @include mq(tablet) {
    max-width: 608px;
    height: 108px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 0 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
    transition: var(--anim);
  }

  @include mq(desktop) {
    max-width: 822px;
    height: 75px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.87;
  }
}

.customer__name {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  padding-top: 16px;
}

.post-text::before {
  content: '';
  width: 54px;
  height: 40px;
  background-image: url(/src/images/customer/quotes-mob-desk.png);
  background-size: contain;
  display: block;
  position: absolute;
  top: 30px;
  left: 43px;
  background-repeat: no-repeat;
  color: var(--cl-txt-light);
  opacity: 0.6;

  @include mq(tablet) {
    background-image: url(/src/images/customer/quotes-tab.png);
    width: 60.35px;
    height: 40px;
    top: 27px;
    left: 7px;
  }

  @include mq(desktop) {
    background-image: url(/src/images/customer/quotes-mob-desk.png);
    width: 54px;
    height: 40px;
    top: 27px;
    left: 70px;
  }
}

.customer {
  position: relative;
}

.point {
  padding-top: 16px;
  display: flex;
  justify-content: center;

  @include mq(tablet-only) {
    padding-top: 4px;
  }
}

.point__item {
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #c7133e;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -33.333%;
}

#r3:checked ~ .s1 {
  margin-left: -66.666%;
}
