.customer-reviews {
  display: block;
}

.slider__reviews {
  width: 100%;
  height: 517px;
  position: relative;
  overflow: hidden;
}

.slider__reviews.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  position: absolute;
  display: flex;
  bottom: 0;
  padding-top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.bar {
  width: 12px;
  height: 12px;

  border-radius: 50%;

  cursor: pointer;

  background-color: #d9d9d9;

  transition: var(--anim);

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.house__icon {
  opacity: 0;
}

.house__icon {
  display: block;
}

.bar:hover .house__icon,
.bar:focus .house__icon {
  fill: var(--cl-txt-accent-dark);
  opacity: inherit;
  background-color: #fff;
}

input[name='r'] {
  position: absolute;
  visibility: hidden;
}

.slaiders {
  width: 300%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 33.333%;
}

.clients__img {
  display: block;
  margin: 0 auto;
}

.reviews {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 308px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  display: flex;
  padding-top: 43px;
  padding-bottom: 17px;
  margin-top: 32px;
  background-color: #fafafa;
}

.text {
  margin: 0 auto;
  max-width: 180px;
  height: 248px;
  width: 100%;
  padding: 0 11px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );
}

.customer__name {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  padding-top: 16px;
  color: #000000;
}

.text::before {
  content: '';
  width: 54px;
  height: 40px;
  background-image: url(/src/images/customer/“.png);
  background-size: contain;
  display: block;
  position: absolute;
  top: 30px;
  left: 43px;
}

.customer {
  position: relative;
}

.point {
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.point__item {
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #c7133e;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -33.333%;
}

#r3:checked ~ .s1 {
  margin-left: -66.666%;
}
