
.gallery {
    background-image: linear-gradient(to bottom,rgba(255, 245, 246, 1) ,rgb(255, 255, 255) );

    &__columns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;

      @include mq(tablet) {
        gap: 6px;
      }
      @include mq(desktop) {
        gap: 8px;
      }
    }
    &__column {
      
      &:hover, &focus{
        z-index: 2;
      }
      &--high {
        transform: translateY(-15%);
      }
    }

    &__picture {
      display: block;
      &--top {
        margin-bottom: 3px ;
        @include mq(tablet) {
          margin-bottom: 6px;
        }
        @include mq(desktop) {
          margin-bottom: 8px;
        }
      }
      z-index: 3;

      &:hover, &focus {
        transform: scale(1.4);
        transition: transform var(--slow-anim);
        }
    }
}
