.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    width: 100vw;

    &.js-no-transparency {
        background-color: rgba(255, 184, 202, 0.75);

        & .mobile-btn {
            top: 20px;

            @include mq(tablet) {
                top: 40px;
            }
        }
    }
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: left;
    margin: 0;

    @include mq(mobile) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    @include mq(tablet) {
        height: 100px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @include mq(desktop) {
        padding-top: 37px;
        padding-bottom: 37px;
    }
}

// ========== logo ==========

.logo {
    @include mq(mobile) {
        margin-right: 60px;
    }

    @include mq(tablet) {
        margin-right: 295px;
    }

    @include mq(desktop) {
        margin-right: 128px;
    }
}

// ========== navigation ==========

.navigation__list {
    display: none;

    @include mq(desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.navigation__item {

    &:not(:last-child) {
        margin-right: 35px;
    }
}

.navigation__link {
    display: flex;
    align-items: center;

    padding-top: 37px;
    padding-bottom: 37px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: var(--cl-txt-white);
}

.navigation__link--current {
    color: var(--cl-txt-accent-dark);
}

//  ========== button ==========
.header__btn {
    display: none;

    @include mq(tablet) {
        display: inline-block;
    }
}